.bad{
    display: flex;
    justify-content: space-around;  
    
}
.game{
    -webkit-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
}
.blue{
    -webkit-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
}
.red{
    -webkit-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
}
.black{
    text-align: center;
    -webkit-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
    box-shadow: 12px -2px 25px 18px rgba(34, 60, 80, 0.2);
}

.img{
    width: 200px;
    height: 200px;
}
.black--text-content{   
}
